body{
font-family: 'Work Sans', sans-serif;
}

/* header section styles */
header{
    background-image: url('../../images/banner/banner1.png');
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 800px;
    padding: 210px 230px 24px 800px;
    margin: 50px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.banner-title{
color: #151414;
text-align: right;
font-size: 65px;
font-weight: 700;
}
.banner-description{
color: #444343;
text-align: right;
font-size: 16px;
line-height: 26px;
margin-bottom: 50px;
align-items: center;
}
.contact-btn{
width: 160px;
height: 64px;
border-radius: 5px;
background: #F15B22;
color: #FFF;
font-size: 20px;
border: 0;
border-radius: 5px;
} 

/* main section styles */

/* about section styles */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-image{
    width: 50%;
    height: 898px;
    background: rgba(241, 91, 34, 0.2);
    margin: 100px 150px 130px 230px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
   
}
.about-image img{
    align-items: center;
}


 .about-content .about-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.about-description{
color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
 .about-info-title{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.fa-check{
    width: 24px;
    height: 24px;
    color: #16D887;
}
